<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Nhà Cung Cấp</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <script>
        function remove10thCharacter(event) {
            var input = event.target;
            var value = input.value;

            if (value.length >= 11) {
                input.value = value.slice(0, 10);  // Xóa ký tự thứ 13
            }
        }
    </script>

    <h2>Thêm mới nhà cung cấp</h2>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <form action="#" th:action="@{/nhacungcap}" th:object="${nhaCungCap}"
          method="POST">
        <input type="text" th:field="${nhaCungCap.ma}" name="ma" required
               placeholder="Mã Nhà cung cấp" class="form-control mb-4 col-4"
               onkeyup="remove10thCharacter(event)"/>

        <input type="text" th:field="${nhaCungCap.ten}" name="ten" required
               placeholder="Tên Nhà cung cấp" class="form-control mb-4 col-4"/>

        <button type="submit" class="btn btn-info col-2"> Lưu </button>
    </form>

    <hr>

    <a class="btn btn-outline-primary" th:href = "@{/nhacungcap}"> Quay lại </a>
</div>
</body>
</html>