<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nhân Viên</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <script>
        function remove13thCharacter(event) {
            var input = event.target;
            var value = input.value;

            if (value.length >= 13) {
                input.value = value.slice(0, 12);
            }
        }
    </script>
    <script>
        function processInput(event, input) {
            var value = input.value;

            // Xóa khoảng trắng trong chuỗi
            value = value.replace(/\s/g, '');

            // Xóa ký tự thứ 10
            if (value.length >= 11) {
                value = value.slice(0, 10) + value.slice(11);
            }

            // Xóa các ký tự có dấu
            value = value.replace(/[^\x00-\x7F]/g, '');

            // Gán giá trị đã xử lý vào trường nhập liệu
            input.value = value;
        }
    </script>

    <h2>Thêm mới nhân viên</h2>
    <div th:if="${errorMessage}" class="alert alert-danger text-center">
        [[${errorMessage}]]
    </div>

    <form action="#" th:action="@{/nhanvien}" th:object="${nhanVien}"
          method="POST">
        <input type="text" th:field="*{ma}" name="ma"
               placeholder="Mã Nhân viên" class="form-control mb-4 col-4" required
               onkeyup="processInput(event, this)"/>

        <input type="text" th:field="*{ten}" name="ten"
               placeholder="Tên Nhân viên" class="form-control mb-4 col-4" required/>

        <input type="number" th:field="*{cccd}" name="cccd"
               placeholder="Căn cước công dân" class="form-control mb-4 col-4" required
               onkeyup="remove13thCharacter(event)"/>

        <input type="number" th:field="*{sdt}" name="sdt"
               placeholder="Số điện thoại" class="form-control mb-4 col-4" required
               onkeyup="processInput(event, this)"/>

        <input type="text" th:field="*{diaChi}" name="sdt"
               placeholder="Địa chỉ" class="form-control mb-4 col-4" required/>

        <button type="submit" class="btn btn-info col-2">Lưu</button>
    </form>

    <hr>

    <a class="btn btn-outline-primary" th:href="@{/nhanvien}">Quay lại</a>
</div>
</body>
</html>