<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nhân Viên</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div><h1>Danh Sách Nhân Viên</h1></div>
    <div th:if="${successMessage}" class="alert alert-success text-center">
        [[${successMessage}]]
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger text-center">
        [[${errorMessage}]]
    </div>
    <div>
        <a class="btn btn-primary" th:href="@{/nhanvien/form}">Thêm</a>
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Mã</th>
                <th scope="col">Tên</th>
                <th scope="col">CCCD</th>
                <th scope="col">SĐT</th>
                <th scope="col">Địa Chỉ</th>
                <th scope="col">Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="nhanVien : ${pagedNhanVien.data}">
                <tr>
                    <td th:text="${nhanVien.ma}"></td>
                    <td th:text="${nhanVien.ten}"></td>
                    <td th:text="${nhanVien.cccd}"></td>
                    <td th:text="${nhanVien.sdt}"></td>
                    <td th:text="${nhanVien.diaChi}"></td>
                    <td>
                        <a class="btn btn-info" th:href="@{'/nhanvien/update/' + ${nhanVien.ma}}">Sửa</a>
                        <a class="btn btn-danger" th:href="@{'/nhanvien/delete/' + ${nhanVien.ma}}">Xóa</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <ul class="pagination justify-content-center">
            <li th:if="${pagedNhanVien.hasPreviousPage}"
                th:classappend="${pagedNhanVien.hasPreviousPage ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:href="@{|/nhanvien?page=${pagedNhanVien.currentPage - 1}&amp;size=${size}|}">&lt;</a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, pagedNhanVien.totalPages - 1)}"
                th:classappend="${pagedNhanVien.currentPage == i ? 'page-item active' : 'page-item'}">
                <a class="page-link" th:href="@{|/nhanvien?page=${i}&amp;size=${size}|}" th:text="${i + 1}"></a>
            </li>
            <li th:if="${pagedNhanVien.hasNextPage}"
                th:classappend="${pagedNhanVien.hasNextPage ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:href="@{|/nhanvien?page=${pagedNhanVien.currentPage + 1}&amp;size=${size}|}">&gt;</a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>