<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Phiếu Nhập</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <script>
        function processInput(event, input) {
            var value = input.value;

            // Xóa khoảng trắng trong chuỗi
            value = value.replace(/\s/g, '');

            // Xóa ký tự thứ 10
            if (value.length >= 11) {
                value = value.slice(0, 10) + value.slice(11);
            }

            // Xóa các ký tự có dấu
            value = value.replace(/[^\x00-\x7F]/g, '');

            // Gán giá trị đã xử lý vào trường nhập liệu
            input.value = value;
        }
    </script>

    <h2>Tạo mới phiếu nhập</h2>
    <div th:if="${errorMessage}" class="alert alert-danger text-center">
        [[${errorMessage}]]
    </div>

    <form method="post" th:action="@{/phieunhap}" th:object="${phieuNhap}">
        <label for="maPhieuNhap">Mã phiếu nhập:</label>
        <input type="text" id="maPhieuNhap" name="maPhieuNhap" class="form-control mb-4 col-4" th:field="*{ma}" required
               onkeyup="processInput(event, this)"/>

        <label for="maNhanVien">Mã nhân viên:</label>
        <select id="maNhanVien" name="maNhanVien" class="form-control mb-4 col-4" th:field="*{nhanVien}" required>
            <option th:each="nhanVien : ${nhanVien}"
                    th:value="${nhanVien.ma}"
                    th:text="${nhanVien.ma + ' - ' + nhanVien.ten}"></option>
        </select>

        <label for="maNhaCungCap">Mã nhà cung cấp:</label>
        <select id="maNhaCungCap" name="maNhaCungCap" class="form-control mb-4 col-4" th:field="*{nhaCungCap}" required>
            <option th:each="nhaCungCap : ${nhaCungCap}"
                    th:value="${nhaCungCap.ma}"
                    th:text="${nhaCungCap.ma + ' - ' + nhaCungCap.ten}"></option>
        </select>

        <label for="maSanPham">Mã sản phẩm:</label>
        <select id="maSanPham" name="maSanPham" class="form-control mb-4 col-4" th:field="*{sanPham}" required>
            <option th:each="sanPham : ${sanPham}"
                    th:value="${sanPham.ma}"
                    th:text="${sanPham.ma + ' - ' + sanPham.ten}"></option>
        </select>

        <label for="soLuong">Số lượng:</label>
        <input type="number" id="soLuong" name="soLuong" class="form-control mb-4 col-4" th:field="*{soLuong}" required/>

        <button type="submit" class="btn btn-info col-2"> Lưu </button>
    </form>

    <hr>

    <a class="btn btn-outline-primary" th:href = "@{/phieunhap}">Quay lại</a>
</div>
</body>
</html>