<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <script>
        function remove10thCharacter(event) {
            var input = event.target;
            var value = input.value;

            if (value.length >= 11) {
                input.value = value.slice(0, 10);
            }
        }
    </script>

    <h2>Thêm mới sản phẩm</h2>
    <div th:if="${errorMessage}" class="alert alert-danger text-center">
        [[${errorMessage}]]
    </div>

    <form action="#" th:action="@{/sanpham}" th:object="${sanPham}"
          method="POST">
        <input type="text" th:field="*{ma}" name="ma"
               placeholder="Mã Sản Phẩm" class="form-control mb-4 col-4" required
               onkeyup="remove10thCharacter(event)"/>

        <input type="text" th:field="*{ten}" name="ten"
               placeholder="Tên Sản Phẩm" class="form-control mb-4 col-4" required/>

        <input type="text" th:field="*{donViTinh}" name="donviTinh"
               placeholder="Đơn Vị Tính" class="form-control mb-4 col-4" required/>

        <input type="number" th:field="*{donGia}" name="donGia"
               placeholder="Đơn Giá" class="form-control mb-4 col-4" required/>

        <button type="submit" class="btn btn-info col-2"> Lưu </button>
    </form>

    <hr>

    <a class="btn btn-outline-primary" th:href = "@{/sanpham}"> Quay lại </a>
</div>
</body>
</html>