<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">

    <h2>Cập nhật thông tin sản phẩm</h2>
    <div th:if="${errorMessage}" class="alert alert-danger text-center">
        [[${errorMessage}]]
    </div>

    <form action="#" th:action="@{/sanpham/update}" th:object="${sanPham}" method="POST">
        <label for="ma">Mã Sản Phẩm:</label>
        <input type="text" th:field="${sanPham.ma}" id="ma" name="ma" readonly
               placeholder="Mã Sản Phẩm" class="form-control mb-4 col-4" />

        <label for="ten">Tên Sản Phẩm:</label>
        <input type="text" th:field="${sanPham.ten}" id="ten" name="ten"
               placeholder="Tên Sản Phẩm" class="form-control mb-4 col-4" required />

        <label for="donViTinh">Đơn vị tính:</label>
        <input type="text" th:field="${sanPham.donViTinh}" id="donViTinh" name="donViTinh"
               placeholder="Đơn vị tính" class="form-control mb-4 col-4" required />

        <label for="donGia">Đơn giá:</label>
        <input type="text" th:field="${sanPham.donGia}" id="donGia" name="donGia"
               placeholder="Đơn giá" class="form-control mb-4 col-4" required />

        <button type="submit" class="btn btn-info col-2">Lưu</button>
    </form>


    <hr>

    <a class="btn btn-outline-primary" th:href="@{/sanpham}"> Quay lại </a>
</div>
</body>
</html>